* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid {
  padding: 0;
}

.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("https://i.pinimg.com/originals/e5/03/dd/e503dd031fe1aafd9d42edc878c746d1.jpg");
  background-size: cover;
  height: 60vh;
}

.addMovieForm {
  width: 40vh;
}

.movie-card {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-height: 500px;
  max-width: 300px;
  transition: top 2s ease 0s;
  -webkit-transition: top 2s ease 0s;
  overflow-y: hidden;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, .5);
}

.movie-card-image {
  object-fit: cover;
  width: 100%;
  min-height: 500px;
}

.movie-card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding: 15px;
  top: 500px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  min-height: 500px;
  width: 100%;
  transition: top 0.5s ease 0s;
  -webkit-transition: top 0.5s ease 0s;
}

.movie-card:hover .movie-card-description {
  top: 0;
}

.movie-card-description p {
  margin: 15px 0;
}

.btn-del {
  margin-right: 200px;
}


/* 
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="movie-card">
        <img src="https://m.media-amazon.com/images/M/MV5BMjMxOTM1OTI4MV5BMl5BanBnXkFtZTgwODE5OTYxMDI@.jpg" alt="" class="movie-card-image">
        <div class="movie-card-description">
          <h1>
            Fantastic Beasts and Where to Find Them
          </h1> 
          <p>
            2016
          </p>
          <p>
            The adventures of writer Newt Scamander in New York's secret community of ...
          </p>

          <p>
            Length: 2h 12min
          </p>

          <p>
            Rating: 7.3      
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="movie-card">
        <img src="https://m.media-amazon.com/images/M/MV5BMjMxOTM1OTI4MV5BMl5BanBnXkFtZTgwODE5OTYxMDI@.jpg" alt="" class="movie-card-image">
        <div class="movie-card-description">
          <h1>
            Fantastic Beasts and Where to Find Them
          </h1> 
          <p>
            2016
          </p>
          <p>
            The adventures of writer Newt Scamander in New York's secret community of ...
          </p>

          <p>
            Length: 2h 12min
          </p>

          <p>
            Rating: 7.3      
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="movie-card">
        <img src="https://m.media-amazon.com/images/M/MV5BMjMxOTM1OTI4MV5BMl5BanBnXkFtZTgwODE5OTYxMDI@.jpg" alt="" class="movie-card-image">
        <div class="movie-card-description">
          <h1>
            Fantastic Beasts and Where to Find Them
          </h1> 
          <p>
            2016
          </p>
          <p>
            The adventures of writer Newt Scamander in New York's secret community of ...
          </p>

          <p>
            Length: 2h 12min
          </p>

          <p>
            Rating: 7.3      
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
*/